*{
	margin: 0;	
	padding: 0;
	border: none;
}

ul{
	list-style: none;
}

body{
	font-family: 楷体-简;
	color: #14191e;
}

.main{
	width: 1200px;
	height: 460px;
	margin: 30px auto;
	overflow: hidden;
}

.banner{
	width: 1200px;
	height: 460px;
}

.banner_slide{
	width: 1200px;
	height: 460px;
	background-repeat: no-repeat;
}

.slide1{
	/*background-image: url(../img/bg1.jpg);*/
	background-color: #1e5e8e;
}

.slide2{
	/*background-image: url(../img/bg2.jpg);*/
	background-color: green;
}

.slide3{
	/*background-image: url(../img/bg3.jpg);*/
	background-color: blue;
}