/*style.css*/

*{
	margin:0;
	padding:0;
	/*border: none;*/
}

.cal{
	width: 400px;
	margin: 100px auto;
	/*background: #122;*/
	text-align: right;
}
.cal p > input{
	display: block;
	width: 400px;
	height: 30px;
	font-size: 18px;
	text-align: right;
}

.operator{
	width: 39px;
	height: 40px;
	display: block;
	float: right;
	margin: 20px 0 20px 1px;
}

input.active{
	border: 1px solid #02f;
}

.result{
	font-size: 24px;
	font-weight: bold;
}